/* basis */
ul.infoBar {
    padding: 0;
    margin: 0;
    margin-left: -5px;
    list-style: none;
}
ul.infoBar > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.green {
    color: green;
}
.red {
    color: red;
}

/* body */
body {
    margin: 20px 40px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* table */
table {
    background: #FFC4FF;
    border-collapse: collapse;
    border: 1px solid #009BCB;
    font-size: 10px;
    width: 100%;
}
table td {
    border: 1px solid #009BCB;
    vertical-align: middle;
}

.id {
    color: #0000FF;
    font-weight: bold;
    padding: 0 8px;
    width: 1%;
}
.time {
    text-align: center;
    width: 200px;
}
.sub {
    padding: 4px 2px;
    white-space: pre;
}
