h1 {
  font-size: 16px;
  color: #566ebf;
}
h1 a {
  color: #566ebf;
  text-decoration: none;
}

h1 a:hover:before {
  color: #566ebf;
}

/* body */
body {
  color: #272822;
  padding: 16px;
}

/* table */
table td {
  text-align:center;
}

table td:nth-child(3) {
  text-align:left;
  padding-left: 18px;
  line-height: 150%;
}

tbody tr:nth-child(odd) {
  background-color: #d4e3e5;
}

tbody tr:nth-child(even) {
  background-color: #c3dde0;
}